/* 
selectors - HTML elements to be styled
universal selector (*) applies styles to all elements
i.e.: *{
  color: gray;
}
 */


 body {
    background-color: beige;    
 }

 h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}